{
margin: 0;
padding: 0;
box-sizing:border-box;
}

.wrapper,
content {
	position: relative;
	width: 100%
	z-index:1;
}

.content {
overflow-x:hidden;
}

.content .section { 
width: 100%
	height: 100vh;
}

.content .section.hero {
	background-image
